/.cljs_rhino_repl
/out
/target
/node_modules
/package.json
/package-lock.json
/classes
/checkouts
/pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.DS_Store
/resources/public/xapi_schema.js
.specljs-timestamp
/.cpcache
