{:enums
 {:ObjectType
  {:values [:Activity
            :Agent
            :Person
            :Group
            :SubStatement
            :StatementRef]}
  :ParamFormat
  {:values [:ids
            :exact
            :canonical]}}

 :unions
 {:Actor {:members [:Agent :Group]}
  :StatementObject {:members [:Activity
                              :SubStatement
                              :StatementRef
                              :Agent
                              :Group]}
  :SubStatementObject {:members [:Activity
                                 :StatementRef
                                 :Agent
                                 :Group]}}

 :objects
 {;; Common
  :_language_map_entry
  {:fields {:_language_tag {:type (non-null String)}
            :_text {:type String}}}
  :LanguageMap
  {:fields {:_entries {:type (list :_language_map_entry)}}}
  :_extension_map_entry
  {:fields {:_iri {:type (non-null String)}
            :_json {:type String}}}
  :ExtensionMap
  {:fields {:_entries {:type (list :_extension_map_entry)}}}

  ;; Activity
  :InteractionComponent
  {:fields {:id {:type (non-null String)}
            :description {:type :LanguageMap}}}
  :ActivityDefinition
  {:fields {:name {:type :LanguageMap}
            :description {:type :LanguageMap}
            :correctResponsesPattern {:type (list String)}
            :type {:type String}
            :moreInfo {:type String}
            :choices {:type (list :InteractionComponent)}
            :scale {:type (list :InteractionComponent)}
            :source {:type (list :InteractionComponent)}
            :target {:type (list :InteractionComponent)}
            :steps {:type (list :InteractionComponent)}
            :extensions {:type :ExtensionMap}
            :interactionType {:type String}}}
  :Activity
  {:fields {:id {:type (non-null String)}
            :definition {:type :ActivityDefinition}
            :objectType {:type :ObjectType}
            :_statements {:type (list :Statement)}}}
  :Account
  {:fields {:name {:type (non-null String)}
            :homePage {:type (non-null String)}}}
  :Agent
  {:fields {:name {:type String}
            :mbox {:type String}
            :mbox_sha1sum {:type String}
            :openid {:type String}
            :account {:type :Account}
            :objectType {:type :ObjectType}
            :_statements {:type (list :Statement)}
            :_ifi_key {:type (non-null String)}}}
  :Person
  {:fields
   {:name {:type (list String)}
    :mbox {:type (list String)}
    :mbox_sha1sum {:type (list String)}
    :openid {:type (list String)}
    :account {:type (list :Account)}
    :objectType {:type :ObjectType}}}
  :Group
  {:fields {:name {:type String}
            :mbox {:type String}
            :mbox_sha1sum {:type String}
            :openid {:type String}
            :account {:type :Account}
            :objectType {:type :ObjectType}
            :member {:type (list :Agent)}
            :_statements {:type (list :Statement)}
            :_ifi_key {:type String}}}
  ;; Verb
  :Verb
  {:fields {:id {:type (non-null String)}
            :display {:type :LanguageMap}
            :_statements {:type (list :Statement)}}}
  ;; Score
  :Score
  {:fields {:scaled {:type Float}
            :raw {:type Float}
            :min {:type Float}
            :max {:type Float}}}
  ;; Result
  :Result
  {:fields {:success {:type Boolean}
            :completion {:type Boolean}
            :response {:type String}
            :duration {:type String}
            :extensions {:type :ExtensionMap}
            :score {:type :Score}}}
  ;; Statement Ref
  :StatementRef
  {:fields {:id {:type (non-null ID)}
            :objectType {:type :ObjectType}}}
  ;; Context
  :ContextActivities
  {:fields {:parent {:type (list :Activity)}
            :grouping {:type (list :Activity)}
            :category {:type (list :Activity)}
            :other {:type (list :Activity)}}}
  :Context
  {:fields {:registration {:type ID}
            :instructor {:type :Actor}
            :team {:type :Group}
            :revision {:type String}
            :platform {:type String}
            :language {:type String}
            :statement {:type :StatementRef}
            :extensions {:type :ExtensionMap}
            :contextActivities {:type :ContextActivities}
            }}
  ;; Attachment(s)
  :Attachment
  {:fields {:usageType {:type String}
            :display {:type :LanguageMap}
            :description {:type :LanguageMap}
            :contentType {:type String}
            :length {:type Int}
            :sha2 {:type String}
            :fileUrl {:type String}}}
  ;; Substatement
  :SubStatement
  {:fields {:actor {:type :Actor}
            :verb {:type :Verb}
            :object {:type :SubStatementObject}
            :objectType {:type :ObjectType}
            :result {:type :Result}
            :context {:type :Context}
            :attachments {:type (list :Attachment)}
            :timestamp {:type String}}}
  ;; The main event!
  :Statement
  {:fields {:id {:type (non-null ID)}
            :actor {:type (non-null :Actor)}
            :verb {:type (non-null :Verb)}
            :object {:type (non-null :StatementObject)}
            :result {:type :Result}
            :context {:type :Context}
            :timestamp {:type String}
            :stored {:type String}
            :authority {:type :Actor}
            :attachments {:type (list :Attachment)}
            :version {:type String}}}}
 :input-objects
 {:ParamAccount
  {:fields {:name {:type (non-null String)}
            :homePage {:type (non-null String)}}}
  :ParamAgentMember
  {:fields {:name {:type String}
            :mbox {:type String}
            :mbox_sha1sum {:type String}
            :openid {:type String}
            :account {:type :ParamAccount}
            :objectType {:type :ObjectType}}}
  :ParamAgent
  {:fields {:name {:type String}
            :mbox {:type String}
            :mbox_sha1sum {:type String}
            :openid {:type String}
            :account {:type :ParamAccount}
            :objectType {:type :ObjectType}
            :member {:type (list :ParamAgentMember)}}}
  :LRS
  {:fields {:uri_root {:type (non-null String)}
            :path_prefix {:type String
                          :default-value ""}
            :api_key {:type String}
            :api_key_secret {:type String}}}}
 :queries
 {:statement
  {:type :Statement}
  :statements
  {:type (list :Statement)}
  :person
  {:type :Person}
  :activity
  {:type :Activity}}}
